@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>APRA - Management App for Alzhiemer's &  Dementia Patients</p>
</div>

<div class="row">
    <div class="col-md-4">sidebar</div>
    <div class="col-md-8">
        <div ng-view></div>
    </div>
</div>